{% extends 'core/base.html' %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}
    <div class="py-6 px-6 bg-orange-100">
        <h1 class="mb-6 bg-orange-100 text-center text-xl">{{ lead.name }}</h1>
        {% if lead.description %}
            <div class="mt-6 flex justify-between text-xs">
                <p class="py-4 px-2 w-full font-semibold flex justify-center"> Description </p>
                <p class="py-4 px-2 w-full font-semibold flex justify-center">Priority</p>
                <p class="py-4 px-2 w-full font-semibold flex justify-center">Status</p>
                <p class="py-4 px-2 w-full font-semibold flex justify-center">Created at</p>
                <p class="py-4 px-2 w-full font-semibold flex justify-center">Modified at</p>
            </div>

            <div class="flex justify-between text-xs">
                <p class="py-4 px-2 font-semibold flex justify-center w-full {% cycle 'bg-slate-50' '' %}">{{ lead.description }}</p>
                <p class="py-4 px-2 font-semibold flex justify-center w-full {% cycle 'bg-slate-50' '' %}">{{ lead.get_priority_display }}</p>
                <p class="py-4 px-2 font-semibold flex justify-center w-full {% cycle 'bg-slate-50' '' %}">{{ lead.get_status_display }}</p>
                <p class="py-4 px-2 font-semibold flex justify-center w-full {% cycle 'bg-slate-50' '' %}">{{ lead.created_at }}</p>
                <p class="py-4 px-2 font-semibold flex justify-center w-full {% cycle 'bg-slate-50' '' %}"">{{ lead.modified_at }}</p>
            </div>
        {% endif %}
    </div>

    <div class="py-6 px-6 space-x-1 flex justify-end bg-orange-100">
        <a href=" {% url 'leads_edit' lead.id %}" class="py-1 px-3 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 rounded-xl text-xs text-center dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"">edit</a>
        <a href=" {% url 'leads_delete' lead.id %}" class="py-1 px-3 rounded-xl dark:text-red-600 text-xs text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 ">delete</a>
    </div>

    <div class="py-6 px-6 flex justify-start bg-orange-100">
        <button class="py-1 px-3">
            <a href=" {% url 'leads_list' %}">
                <svg class="w-4 h-6 text-stone-600 dark:text-stone-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
            </a>
        </button>
    </div>

{% endblock %} 