<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    <h1 class="text-3xl text-center font-bold bg-orange-100">
        protopy
    </h1>

    <nav class="py-4 px-6 flex justify-between bg-orange-100">
        <a></a>
        <div class="space-x-5">
            <a href="{% url 'about' %}" class="py-2 px-4 bg-stone-600 text-xs text-slate-50 rounded-xl text-white">about</a>
                {% if request.user.is_authenticated %}

                    <a href="{% url 'dashboard' %}" class="py-2 px-4 bg-stone-600 rounded-xl text-xs text-slate-50">Dashboard</a>
                    <a href="{% url 'leads_list' %}" class="py-2 px-4 bg-stone-600 rounded-xl text-xs text-slate-50">Leads</a>
                    <a href="{% url 'logout' %}" class="py-2 px-4 bg-red-600 text-xs text-slate-50 rounded-xl">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}" class="py-4 px-6 bg-stone-600 text-xs text-slate-50 rounded-xl text-white">Log in</a>
                    <a href="{% url 'signup' %}" class="py-4 px-6 bg-stone-500 text-xs text-slate-50 rounded-xl">Sign up</a>
                {% endif %}
        </div>
    </nav>

    {% if messages %}
        <div class="py-6 px-6 bg-orange-100">
            {% for message in messages %}
                <div class="py-4 px-4 text-center text-xs text-slate-50 bg-red-600 rounded-xl">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="py-8 text-center bg-stone-600">
        <p class="text-xs text-slate-50">made by zkarr -- (c) -- 2025</p>
    </footer>

    </body>
</html>
