<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
    <h1 class="text-3xl font-bold underline">
        test 
    </h1>

        <table class="border-separate border-spacing-2 border border-gray-400 ...">
            <caption class="caption-bottom">made by zkarrz</caption>
            <tr>
                <thead>
                    <th class="border border-gray-300 md:place-content-center ...">Nombre</th>
                    <th class="border border-gray-300 md:place-content-center ...">Edad</th>
                    <th class="border border-gray-300 md:place-content-center ...">Sexo</th>
                </thead>
            </tr>
            <tbody>
                <tr>
                    <td class="border border-gray-300 md:place-content-center ...">Tito</td>
                    <td class="border border-gray-300 md:place-content-center ...">39</td>
                    <td class="border border-gray-300 md:place-content-center ...">Masculino</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 md:place-content-center ...">Ortencia</td>
                    <td class="border border-gray-300 md:place-content-center...">23</td>
                    <td class="border border-gray-300 md:place-content-center ...">Femenino</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
